{% extends "layout.html" %}
{% block content %}
<h1 class="text-center">Linear Motion</h1>
  <form id="linearMotionForm" class="container ps-5 position-absolute top-50 start-50 translate-middle" method="post" action="/lm_submit">
    <div class="row">
      <div class="col-md-6">
        <select id="optionSelector1" class="form-select mb-3">
          <option selected>Select the value we are looking for</option>
          <option value="Acceleration">Acceleration</option>
          <option value="Initial Velocity">Initial Velocity</option>
          <option value="Final Velocity">Final Velocity</option>
          <option value="Displacement">Displacement</option>
          <option value="Time">Time</option>
        </select>

      <div class="input-group">
        <select id="optionSelector2" class="form-select">
          <option value="Acceleration">Acceleration</option>
          <option value="Initial Velocity">Initial Velocity</option>
          <option value="Final Velocity">Final Velocity</option>
          <option value="Displacement">Displacement</option>
          <option value="Time">Time</option>
        </select>
        <input type="number" class="form-control" id="inputField" placeholder="Value">
      </div>

      <div class="input-group">
        <select id="optionSelector3" class="form-select">
          <option value="Acceleration">Acceleration</option>
          <option value="Initial Velocity">Initial Velocity</option>
          <option value="Final Velocity">Final Velocity</option>
          <option value="Displacement">Displacement</option>
          <option value="Time">Time</option>
        </select>
      <input type="number" class="form-control" id="inputField" placeholder="Value">
      </div>

      <div class="input-group">
        <select id="optionSelector4" class="form-select">
          <option value="Acceleration">Acceleration</option>
          <option value="Initial Velocity">Initial Velocity</option>
          <option value="Final Velocity">Final Velocity</option>
          <option value="Displacement">Displacement</option>
          <option value="Time">Time</option>
        </select>
        <input type="number" class="form-control" id="inputField" placeholder="Value">
      </div>

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
      </div>
    </div>
</form>

{% endblock %}